/* for some keywords like select,click, go to, etc..  */
.action {
    font-variant:       small-caps;
    font-weight:        normal;
}

/* for buttons */
.btns {
    background-color:   #f0f5f5;
    border-radius:      5px;
    font-family:        Verdana, Geneva, sans-serif;
    font-size:          small;
    padding:            .25em;
    color:              black;   
}

/* for file or navgation paths such as navigate to tools>somewhere>here */
.path {
    /* font-family:        "Lucida Console", Monoaco, monospace; */
    font-family:        "Courier New", Courier, monospace;
    text-decoration:    underline;    
}

.underline {
    text-decoration: underline;
}
